@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
:root {
    --background-color: #fff;
    --color-text: #000;
}
body{
    margin: 0;
    font-family: 'Aboreto', cursive;
}
header{
    background-image: url(../img/photo-by-ron-lach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    margin: 0%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -8% 2% 2% 2%;
    border-radius: 10px;
    height: 10vh;
    width: 90%;
    background-color: var(--background-color);
}
.navbar a {
    text-transform: uppercase;
    margin: 4%;
    color: var(--color-text);
}
.info-project{
    display: flex;
    flex-direction: column;
    margin: 0%;
    height: 80vh;
    width: 100%;
    align-items: center;
    text-align: center;
}
.info-project h1{
    margin: 8% 4%;
    font-size: 200%;
}
.info-project p{
    margin: 4%;
    font-size: large;
}
.arrow, .arrow:before{
    position: fixed;
    top: 80%;
    left: 50%;
}
.arrow{
    width: 40px;
    height: 40px;
    margin: -10px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #000 solid;
    border-bottom: 2px #000 solid;
}
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    animation: arrow 2s infinite;
}
@keyframes arrow{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}